/* login/register页面 */
.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20vh;
}


.string-center a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 1rem;
}
