/*transaction页面css*/
.add-container {
    display: flex;
    justify-content: center;
   
}


/*add-transaction页面css*/
.addts-container {
    display: flex;
    justify-content: center;
    padding: flex-start;
}

.label-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  
}

.label-type {
    display: flex;
    gap: 6px;
 
}


/*edit 页面css*/
.edit-container {
    display: flex;
    justify-content:center ;
    padding: flex-start;
}