.page {
    min-height: 100vh; /* 最小高度=100% 视口高度 */
    display: flex;
}

/*右侧区域*/
.container {
    flex:1;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    width: 900px;
    height:100%;
}

/*导航栏区域*/
.navbar-wrapper {
    width: 200px;
    flex-shrink: 0;
}
.navbar {
    position: fixed;
    top: 0;
    left:0;
    width: 200px;
    height:100vh;
    background: #c9a0de;
    z-index: 100;
    overflow-y: auto;
    
}







