<!DOCTYPE html>
<html>
    <head>
        <title>登录页面</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <form method="POST",action="{{url_for('user.login')}}">
            <div class="green-text form-group mt-5">
                用户名
            </div>
            <input type="text",name="username",calss="from-control">

            <div class="greeen-text form-group">
                密码
            </div>
            <input type="text",name="password">
            <div class="center">

            <button type="submit">登录</button>

            </div>
        </form>


        <div>
            <a href="{{ url_for('user.register_page')}}">还没有账号？</a>
        </div>
    </body>

</html>