<!DOCTYPE html>
<html>
    <head>
        <title>注册页面</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/components.css')}}">   
        <link rel="stylesheet" href="{{ url_for('static',filename='css/layout.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/pages/login.css')}}">                
        <link rel="stylesheet" href="{{ url_for('static',filename='css/page.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/module.css')}}">
    </head>

<body>
    <div class="form-container">
        <form class="form p-login" action="{{url_for('user.register')}}" method="post">

            <div class="form-row mb-login">
                <div class="label">用户名:</div>
                <input type="text" name="username" class="from-control">

            </div>

            <div class="form-row">
                <div class="label">密码:</div>
                <input type="text" name="password">
            </div>
            
            <div class="btn-center">
                <button type="submit">注册</button>
            </div>


            <div class="string-center">
                <a href="{{url_for('user.login_page')}}">已经有账号？</a>
            </div>


            {% if error %}
            <p style="color:red;">{{ error }}</p>
            {% endif %}

        </form>
        
    </div>

</body>
</html>

