<!DOCTYPE html>
<html>
    <head>
        <title>transaction</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <nav>
            <a herf="#"></a>
            <ul>
                <li><a href="{{ url_for('user.index') }}"> 仪表盘 </a></li>
                <li><a href="#"></a> 交易明细 </li>
                <li><a href="#"> 汇总 </a></li>
            </ul>
        </nav>




        <div class="expense-table">
            <h2> 历史交易明细 </h2>
    
            
            <form method="POST" action="{{ url_for('transaction.all_ts')}}" >
                <input id="input-year" placeholder="输入查询年份">
                <input id="input-month" placeholder="输入查询月份">

                <div>
                    <button type="button" id="search-btn">查询</button>
                </div>

            </form>
            

            <table class="data-table">
                <thead>
                    <tr>
                        <th>分类</th>
                        <th>金额</th>
                        <th>备注</th>
                        <th>日期</th>
                        <th>编辑</th>
                        <th>删除</th>
                    </tr>
                </thead>

                <tbody id="expenseList">
                    <tr>
                        <td>加载中...</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <script src="{{ url_for('static',filename='js/api.js') }}"></script>
        <script src="{{ url_for('static',filename='js/render.js') }}"> </script>
        <script src="{{ url_for('static',filename='js/transaction-page.js') }}"> </script>
        <script>
            window.addEventListener("DOMContentLoaded", () => { 
                const now=new Date();
                const year = now.getFullYear();
                const month = now.getMonth()+1;
                loadExpenseData({
                    url:"/all_ts",
                    body:{year,month}
                })
            })

            const btn =document.getElementById("search-btn")
            btn.textContent="查询";
            btn.addEventListener("click",() => { 
                const year=document.getElementById("input-year").value;
                const month=document.getElementById("input-month").value;
                loadExpenseData({
                    url:"/all_ts",
                    body:{year,month}
                })

            })
            
        </script>
    </body>
</html>
